.modal-container {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: calc(100% - 52px);
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  .modal {
    padding: 20px;
    width: 500px;
    background-color: yellow;
               
    input {
        width: calc(100% - 0.7em);
        font-size: 1.1em;
        padding: .2em;
    }
    textarea {
        width: calc(100% - 0.625em);
        font-size: 1em;
        padding: .2em;
        resize: none;
        font-family: inherit;
    }
  }
}
.modal-show {
  height: 100vh;
  opacity: 1;
}