.modal {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    position: absolute;
    top: -1.7em;
    left: 1.3em;
    right: 1.3em;
    height: 40px;    
    background: linear-gradient(rgba(139,0,0,1), rgba(129,0,0,1));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__form {
    position: relative;
    padding: 20px;
    width: 500px;
    background-color: #EEE;
    border: 5px solid rgba(139,0,0,1);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.7);
    label:first-of-type {
      margin-top: 0em;
    }
    label {
      display: inline-block;
      margin: 0.5em 0em 0.1em 0em;
      font-size: 0.8em;
    }
    input {
        width: calc(100% - 0.65em);
        font-size: 1.1em;
        padding: .2em;
        border-radius: 0.25em;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
    input:focus, input:hover, textarea:focus, textarea:hover {
      border-color: rgba(189,0,0,1);
      box-shadow: 0 0 5px rgba(189,0,0,0.7);
    }
    textarea {
      @extend input;
      width: calc(100% - 0.7em);
      font-size: 1em;
      resize: none;
      font-family: inherit;
    }
  }

  &__buttons {
    margin-top: 1em;
  }
}

.modal-show {
  animation: modal-show 0.5s;
  animation-fill-mode: forwards;
}
.modal-hide {
  animation: modal-hide 0.5s;
  animation-fill-mode: forwards;
}

$modal-height: 100vh;

@keyframes modal-hide {
  0%{height: $modal-height; opacity: 1}
  99%{height: $modal-height}
  100%{height: 0vh; opacity: 0}
}

@keyframes modal-show {
  0%{height: 0vh; opacity: 0}
  1%{height: $modal-height}
  100%{height: $modal-height; opacity: 1}
}