.cardform {
    padding: 20px;
    width: 500px;
    background-color: yellow;
               
    input {
        width: calc(100% - 0.7em);
        font-size: 1.1em;
        padding: .2em;
    }
    textarea {
        width: calc(100% - 0.625em);
        font-size: 1em;
        padding: .2em;
        resize: none;
        font-family: inherit;
    }
}