.content {
  background: floralwhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-gap: 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
}
.content-bar {
  height: 35px;
  background: rgba(44,44,44,1);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  user-select: none;
  -ms-user-select: none;
  label {
    margin: 0;
    margin-left: 1em;
    padding: 0.2em 0.3em;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  input {
    padding: 0;
    margin: 0;
    display: none;
  }
  .on {
    background-color: orange;
    color: black;
  }
  .off {
    background-color: black;
    color: gray;
  }
}
