@charset 'UTF-8';

// 1. Configuration and helpers
// @import
//   'abstracts/variables',
//   'abstracts/functions',
//   'abstracts/mixins';

// // 2. Vendors
// @import
//   'vendor/normalize';

// 3. Base stuff
@import
  'base/base';
  // 'base/fonts',
  // 'base/typography',
  // 'base/helpers';

// 4. Layout-related sections
// @import
//   'layout/header/header',
//   'layout/footer/footer';

// 5. Components
@import
  'components/column/column',
  'components/navbar/navbar';
  'components/login/login';
  'components/card/card';

//   'components/button';

// // 6. Page-specific styles
// @import
//   'pages/home';

// // 7. Themes
// @import
//   'themes/default';

// 8. Containers
@import
  'containers/app',
  'containers/content/content';
  'containers/splash/splash';
  'containers/main/main';

html, body {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
