.app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

.navbar {
  width: 100%;
  background-color: green;
  font-size: 1.3rem;
  font-weight: bold; }
  .navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    color: white;
    list-style: none; }
    .navbar ul li {
      display: flex;
      justify-content: center;
      padding: 15px;
      width: 100%; }
    .navbar ul .active {
      background: orange;
      color: black; }

.content {
  background: lightblue;
  height: calc( 100vh - (1.3rem + 0.45rem + (2 * 15px)));
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.navbar {
  width: 100%;
  background-color: green;
  font-size: 1.3rem;
  font-weight: bold; }
  .navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    color: white;
    list-style: none; }
    .navbar ul li {
      display: flex;
      justify-content: center;
      padding: 15px;
      width: 100%; }
    .navbar ul .active {
      background: orange;
      color: black; }

.column {
  background: darkblue;
  height: calc(100% - 30px);
  width: calc(25% - 20px);
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.splash-container {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images3.imgbox.com/f0/1e/YOpznQnW_o.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-container {
  width: 220px;
  background: white;
  padding: 40px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 10px black;
  position: relative; }
  .login-container label {
    font-weight: normal; }
  .login-container .input-field {
    background-color: #F8F8F8;
    border: 1px solid #DADADA !important;
    color: #6A6A6A;
    font-size: 14px;
    height: 35px;
    padding: 0 0 0 10px;
    width: calc(100% - 10px);
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .login-container .login-button {
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0px; }
  .login-container .login-footer {
    margin-top: 20px; }
  .login-container .login-header {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkred;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold; }

html, body {
  margin: 0;
  padding: 0; }

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer; }
