.splash-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}