.column {
  background: transparent;
  display: grid;
  grid-row-gap: 0.5em;
  grid-auto-rows: min-content;

  &__header {
    background-color: darkgoldenrod;
    padding: 15px;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: 27px auto 27px;

    &__alignment {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    button {
      font-size: 0.9em;
    }
  }
}
