.content {
  background: floralwhite;
  // height: calc(
  //   100vh - (#{$nav-font-size} + 1.2rem + (2 * #{$nav-list-padding}))
  // );
  height: calc(100vh - (2.4em + 1em));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-gap: 0.5em;
  padding: 0.5em;
  overflow-y: scroll;
}
