.login-container {
  width: 220px;
  background: white;
  padding: 40px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 10px black;
  position: relative;
  label {
    font-weight: normal;
  }
  .input-field {
    background-color: #F8F8F8;
    border: 1px solid #DADADA !important;
    color: #6A6A6A;
    font-size: 14px;
    height: 35px;
    padding: 0 0 0 10px;
    width: calc(100% - 10px);
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .login-button {
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0px;
  }
  .login-footer {
    margin-top: 20px;
  }
  .login-header {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkred;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }
}