.login {
  width: 220px;
  background: white;
  padding: 40px;
  padding-bottom: 30px;
  box-shadow: 5px 5px 15px black;
  position: relative;
  border: 13px solid darkred;
  border-radius: 10px;
  &__input-field {
    background-color: #F8F8F8;
    border: 1px solid #DADADA;
    color: #6A6A6A;
    font-size: 14px;
    height: 35px;
    padding: 0 0 0 10px;
    width: calc(100% - 10px);
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  &__input-field:focus {
    border-color: darkred;
    outline: none;
  }
  &__button {
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0px;
  }
  &__footer {
    margin-top: 20px;
    font-size: 0.9em;
  }
  &__header {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkred;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80%;
    height: 45px;
    padding: 0px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
      background: white;
      position: absolute;
      top: -15px;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid rgba(0,0,0,0.8);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(5px,5px,0,0.5);
      img {
        height: 50px;
        width: 50px;
      }
    }
  }
  label {
    display: inline-block;
    padding: 5px 0px;
    font-weight: normal;
    font-size: 0.9em;
  }
  a, a:visited {
    color: black;
  }
}